node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
coverage/

.env
.env.*
!.env.example

.prisma/
prisma/dev.db
prisma/dev.db-journal

docker-data/
pgdata/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

*.tsbuildinfo
